@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
  --buttoniconbackground-color: #225A95;
  --main-background: #12131A;
  --second-background: #191925;
  --text-color: #FFFFFF;
  background-color: var(--main-background);
  font-family: 'Inter' !important;
}

/* HeaderTop */
.appbar {
  background-color: var(--main-background) !important;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25) !important;
}

.logo {
  width: 70%;
  height: 70%;
}

.logoText {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 30px !important;
  letter-spacing: 0.016em !important;
  transform: translate(-12px, -12px);
}

.logotagline {
  position: absolute;
  left: 95px;
  top: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.016em;
  color: #5494A3;
}

.profileText {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

/* sidebar */
.sideBar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 49px;
  height: 350px;
  left: 9px;
  top: 160px;
  background: #1A1A24;
  box-shadow: 8px 4px 24px rgba(0, 0, 0, 0.03);
}

.iconSideBar{
  color: var(--text-color);
  font-size: 20px;
}

/* Middle section */
.middleSection {
  display: flex;
  position: absolute;
  width: 1150px;
  height: 350px;
  left: 64px;
  top: 160px;
  background: #1A1A24;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

/* Bottom Header */
.bottom-header {
  background-color: var(--second-background);
  box-shadow: 8px 4px 24px rgba(0, 0, 0, 0.03);
  flex-wrap: nowrap;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
}

.left {
  width: auto;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.iconBox {
  width: 31px;
  height: 30px;
  border-radius: 10px;
  background: var(--buttoniconbackground-color);
}

.iconBox>svg {
  font-size: 20px !important;
  margin-top: 4px !important;
  vertical-align: middle !important;
}

.leftText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  margin: 5px;
}

.right {
  display: flex;
  align-items: center;
  margin-top: 7px;
  overflow: hidden;
  color: var(--text-color);
}

.buttonBottomHeader {
  border: none;
  width: 120px;
  height: 38px;
  background-color: var(--buttoniconbackground-color);
  box-shadow: 8px 4px 24px rgba(0, 0, 0, 0.03);
  color: var(--text-color);
  border-radius: 5px;
}

.buttonText {
  vertical-align: middle;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.016em;
  margin-right: 2px;
}

.btn-icon {
  vertical-align: middle;
  font-size: 25px;
  margin-right: 5px;
}


/* medium device */
@media only screen and(min-width: 768px) {
  .middleSection {
    width: 80%;
  }
}

/* small device */
@media screen and (min-width: 600px) {
  .middleSection {
    width: 88%;
    top: 200px;
  }

  .sideBar {
    top: 200px;
  }
}

/* large devices */
@media screen and (min-width:992px) {
  .middleSection {
    width: 90%;
  }

  .right {
    right: 15px;
  }
}

/* extra small devices */
@media screen and (max-width:600px) {
  .bottom-header {
    flex-wrap: wrap;
  }

  .right {
    position: relative;
    right: -10px;
  }

  .middleSection {
    width: 78%;
    top: 240px;
  }

  .sideBar {
    top: 240px;
  }

}